<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (promocion(); as promocionRef) {
      <div>
        <h2 data-cy="promocionDetailsHeading"><span jhiTranslate="backendStyleSuiteApp.promocion.detail.title">Promocion</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ promocionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.nombre">Nombre</span></dt>
          <dd>
            <span>{{ promocionRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.descripcion">Descripcion</span></dt>
          <dd>
            <span>{{ promocionRef.descripcion }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.porcentajeDescuento">Porcentaje Descuento</span></dt>
          <dd>
            <span>{{ promocionRef.porcentajeDescuento }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.fechaInicio">Fecha Inicio</span></dt>
          <dd>
            <span>{{ promocionRef.fechaInicio | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.fechaFin">Fecha Fin</span></dt>
          <dd>
            <span>{{ promocionRef.fechaFin | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.tipoPromocion">Tipo Promocion</span></dt>
          <dd>
            <span>{{ promocionRef.tipoPromocion }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.establecimientoId">Establecimiento Id</span></dt>
          <dd>
            <span>{{ promocionRef.establecimientoId }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.productoId">Producto Id</span></dt>
          <dd>
            <span>{{ promocionRef.productoId }}</span>
          </dd>
          <dt><span jhiTranslate="backendStyleSuiteApp.promocion.servicioId">Servicio Id</span></dt>
          <dd>
            <span>{{ promocionRef.servicioId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/promocion', promocionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
